// http://chir.ag/projects/name-that-color/#6195ED

/* --- COLORS --- */
$white: #fff;
$black: #000;
$orangeBlaze: #ff6b08;

/* --- DEVICES --- */
$mobileS: 320px;
$mobileM: 375px;
$mobileL: 425px;
$tablet: 768px;
$laptop: 1024px;
$laptopL: 1440px;